div{
    margin-top: 10px;
    margin-left: 450px;
    width: 500px;
   padding:0px 10px;
 
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      
  }
  input{
      padding: 3px;
      margin: 2px;
      
  }
  label{
      text-align: left !important;
      padding: 5px;
      margin: 2px;
      font-size: large;
  }
  body{
      background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  }
  h1{
      font-family: 'Courier New', Courier, monospace;
      font-weight:900;
      color:teal ;
  }
 button{
     padding: 3px;
     margin: 5px;
     background-color: green;
 }
 button:hover{
     background-color: lawngreen;
     color: white;
 }